**/__pycache__/**

**.xlsx
**.csv

# skip credential file
**/access_data.py
**/send_status_access.py
**- Kopie.*


# skip all temporary and old files and directories
testmain.py
temp*.py
test*.*
tmp*.py
**/temp/**
**/tmp/**
**/old*.py
**/old_files/**

# skip log files and directory
**/*.log
**/*.csv

# skip some folders
htmlcov/**
# source/**
.vscode/**
# only upload docs in gh-pages branch
# docs/**
solar/teslapy/**

make.bat
Makefile
m.bat

docs/**
source/**

.pytest_cache/**
*.pyproj
.vs/**
*.sln
.coverage**
**/.spyproject
.pylint**


# special files
solar/datacheck.py
ee.pdf
cache.json
**.code-workspace
docs/docs
